html {
    scroll-behavior: smooth;
  }

body {
    min-width: 390px;
    background-color: var(--main-bcg);
    color: var(--main-font-color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img, picture {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
svg {
    flex-shrink: 0;
}

.disabled {
    transform: translate3d(0px, 0, 0) !important;
}