.intro {
  &__text {
    margin-bottom: 36px;
    @include min_768 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }
    @include min_1440 {
      margin-bottom: 97px;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 16px;
    @include max_767 {
      text-align: center;
    }
    @include min_768 {
      margin-bottom: 10px;
    }
    @include min_1440 {
      font-size: 36px;
      margin-bottom: -25px;
    }
    &--about {
      @include min_1440 {
        margin-bottom: 15px;
      }
    }
  }
  &__svg {
    @include min_1440 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
    &-arrow {
      animation-name: arrow;
      animation-duration: 1800ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include max_1439 {
        width: 128px;
        height: 50px;
      }
      @include max_767 {
        display: none;
      }
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 380px;
    text-align: right;
    @include max_767 {
      display: none;
    }
    @include min_1440 {
      font-size: 16px;
      max-width: 652px;
      text-align: left;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.23;
    text-transform: uppercase;
    @include max_767 {
      text-align: center;
    }
    @include min_1440 {
      font-size: 36px;
    }
  }
}
