:root {
    --main-bcg: #302C42;
    --main-font-color-white: #ffffff;
    --additional-font-color: #343045;
    // * decorative
    --light-gradiend-and-decorative-purple: #C0B7E8;
    --light-purple-decorative-for-borders: rgba(192, 183, 232, 0.33);
    --dark-gradiend-putple: #8176AF;
    --transparent-dark-for-bcg: rgba(0, 0, 0, 0.13);
    --box-shadow: rgba(192, 183, 232, 0.01);
    --dark-gradient-violet: #211E2E;
    --dark-gradient-light-color: rgba(58, 52, 86, 0.95);
    --button-backlayer: rgba(14, 14, 14, 0.32);
    --cards-gradient: #433D60;
}

