<section class="contacts" id="join">
    <div class="container">
        <form action="" class="contacts__form" autocomplete="on">
            <h1 class="contacts__title">join hydra</h1>
            <h2 class="contacts__subtitle">Let&#39;s Build Your VR Experience</h2>
            <div class="contacts__details">
                <input type="text" name="first-name" class="contacts__input" required placeholder="First name">
                <input type="text" name="last-name" class="contacts__input" required placeholder="Last Name">
            </div>
            <div class="contacts__details">
                <input type="email" name='email' class="contacts__input" required placeholder="Email">
                <input type="tel" name="tel" class="contacts__input" required placeholder="Phone Number">
            </div>
            <input type="text" name="subject" class="contacts__input" placeholder="Subject">
            <textarea name="comment" rows="10" class="contacts__textarea" placeholder="Tell Us Something..."></textarea>
            <button type="submit" class="btn--gradient contacts__btn">send to hydra</button>
        </form>
    </div>
</section>