<footer class="footer">
    <div class="container">
        <div class="footer--flex">
            <svg width="185" height="187" class="logo">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <ul class="footer__nav">
                <li class="footer__nav-item"><a href="./#about">About</a></li>
                <li class="footer__nav-item"><a href="./#services">services</a></li>
                <li class="footer__nav-item"><a href="./#technologies">technologies</a></li>
                <li class="footer__nav-item"><a href="./#how-to">how to</a></li>
                <li class="footer__nav-item"><a href="./#join">join hydra</a></li>
            </ul>
            <ul class="footer__nav">
                <li class="footer__nav-item">F.A.Q</li>
                <li class="footer__nav-item">SITEMAP</li>
                <li class="footer__nav-item">CONDITIONS</li>
                <li class="footer__nav-item">LICENSES</li>
            </ul>
            <div class="socials">
                <h2 class="socials__title">SOCIALIZE WITH HYDRA</h2>
                <ul class="socials__list">
                    <li class="socials__item">
                        <a href="https://uk-ua.facebook.com/" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://twitter.com/?lang=ru" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://ua.linkedin.com/" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://www.youtube.com/" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://www.instagram.com/" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://ru.pinterest.com/" class="socials__link" target="_blank" rel="noopener noreferrer">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-pinterest"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="/#join" class="btn--gradient socials__btn">build your world</a>
            </div>
        </div>
        <div class="footer__credits">
            <p class="footer__credits-text">2023 &#xa9; HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED </p>
        </div>
    </div>
</footer>