<header class="header">
    <div class="container">
        <div class="header__logo">
            <svg width="69" height="60" class="header__icon-logo">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <svg width="46" height="28" class="header__icon-hydra">
                <use href="./images/icons.svg#icon-hydra"></use>
            </svg>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="./#about">about</a></li>
                <li class="nav__item"><a href="./#services">services</a></li>
                <li class="nav__item"><a href="./#technologies">technologies</a></li>
                <li class="nav__item"><a href="./#how-to">how to</a></li>
            </ul>
        </nav>
        <div class="header__btns">
           <a href="tel:11011111010" class="btn--transparent">contact us</a>
           <button type="button" class="btn--gradient">join hydra</button>
        </div>
    </div>
</header>