<section class="hero">
  <div class="container hero--flex">
    <div class="hero__img">
      <img
        srcset="
          ./images/hero-girl-327.jpg 327w,
          ./images/hero-girl-498.jpg 498w,
          ./images/hero-girl-327.jpg 654w,
          ./images/hero-girl-327.jpg 996w
        "
        sizes="(min-width: 1440px) 498px, 327px"
        src="./images/hero-girl-327.jpg"
        alt="vr girl"
      />
    </div>
    <div class="hero__text">
      <h1 class="hero__title">
        <span class="hero__title--gradient hero__title--gradient--first">Dive</span> Into The Depths<br />
        Of <span class="hero__title--gradient">Virtual Reality</span>
      </h1>
      <p class="hero__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore nisl tincidunt eget. Lectus mauris
        eros in vitae .
      </p>
      <div class="hero__btns">
        <a href="./#build" class="btn--gradient hero__btn">BUILD YOUR WORLD</a>
        <svg width="100" height="100" class="hero__arrow">
            <use href="./images/icons.svg#icon-arrow-small-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
