<section class="intro" id="about">
  <div class="container">
    <div class="intro__text">
      <div class="intro__title-box">
        <h1 class="intro__title">INTRODUCTION</h1>
        <div class="intro__svg">
          <h2 class="intro__subtitle">TO HYDRA VR</h2>
          <svg width="228" height="100" class="intro__svg-arrow">
            <use href="./images/icons.svg#icon-arrow-big-right"></use>
          </svg>
        </div>
      </div>
      <p class="intro__descr">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
        mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
        sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
        fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="about">
      <div class="about__img">
        <img
          srcset="
            ./images/intoduction-345.jpg   345w,
            ./images/intoduction-532.jpg   532w,
            ./images/intoduction-690.jpg   690w,
            ./images/intoduction-1064.jpg 1064w
          "
          sizes="(min-width: 1440px) 532px, 345px"
          src="./images/intoduction-345.jpg"
          alt="vr boy"
        />
      </div>
      <div class="about__text">
        <div class="about__title-box">
          <h1 class="intro__title intro__title--about">ABOUT</h1>
          <h2 class="intro__subtitle intro__subtitle--about">HYDRA VR</h2>
        </div>
        <p class="about__descr">
          Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis
          rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum.
          Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at
          risus viverra adipiscing at in. Mattis aliquam faucibus purus in
          massa. Est placerat in egestas erat imperdiet sed. Consequat semper
          viverra nam libero justo laoreet sit amet. Aliquam etiam erat velit
          scelerisque in dictum non consectetur a. Laoreet sit amet cursus sit
          amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha retra
          diam sit amet nisl suscipit adipiscing bibendum. Leo a diam
          sollicitudi n tempor.
        </p>
        <a href="./#join" class="btn--gradient about__btn">LET’S GET IN TOUCH</a>
      </div>
    </div>
  </div>
</section>
