<div class="mobile-menu active">
    <div class="container mobile-menu--flex">
        <ul class="mobile-menu__nav">
            <li class="mobile-menu__item"><a data-goto="#about" href="#">about</a></li>
            <li class="mobile-menu__item"><a data-goto="#services" href="#">services</a></li>
            <li class="mobile-menu__item"><a data-goto="#technologies" href="#">technologies</a></li>
            <li class="mobile-menu__item"><a data-goto="#how-to" href="#">how to</a></li> 
            <li><a href="tel:11011111010" class="btn--transparent">contact us</a></li>
            <li><a data-goto="#join" href="./#join" class="btn--gradient header__btn--gradient">join hydra</a>      
            </li>   
        </ul>
    </div>
</div>