<section class="process">
  <div class="container">
    <div class="intro__text">
      <div class="intro__title-box">
        <h1 class="intro__title">how we build</h1>
        <div class="intro__svg">
          <h2 class="intro__subtitle">why hydra vr?</h2>
          <svg width="228" height="100" class="intro__svg-arrow">
            <use href="./images/icons.svg#icon-arrow-big-right"></use>
          </svg>
        </div>
      </div>
      <p class="intro__descr">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
        mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
        sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
        fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="process__slider">
      <div class="swiper process__swiper" data-slider="slider-process">
        <ul class="swiper-wrapper process__wrapper">
          <li class="swiper-slide process__slide">
            <h2 class="process__num">01</h2>
            <div class="process__descr">
              <svg width="67" height="67" class="process__icon">
                <use href="./images/icons.svg#icon-arrow-small-right"></use>
              </svg>
              <p class="process__title">
                3D Conception <br />
                &#38; Design
              </p>
            </div>
          </li>
          <li class="swiper-slide process__slide">
            <h2 class="process__num">02</h2>
            <div class="process__descr">
              <svg width="67" height="67" class="process__icon">
                <use href="./images/icons.svg#icon-arrow-small-right"></use>
              </svg>
              <p class="process__title">Interaction Design</p>
            </div>
          </li>
          <li class="swiper-slide process__slide">
            <h2 class="process__num">03</h2>
            <div class="process__descr">
              <svg width="67" height="67" class="process__icon">
                <use href="./images/icons.svg#icon-arrow-small-right"></use>
              </svg>
              <p class="process__title">VR World <br />User Testing</p>
            </div>
          </li>
          <li class="swiper-slide process__slide">
            <h2 class="process__num">04</h2>
            <div class="process__descr">
              <svg width="67" height="67" class="process__icon">
                <use href="./images/icons.svg#icon-arrow-small-right"></use>
              </svg>
              <p class="process__title">
                Hydra VR<br />
                Deploy
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="chevron__btn-bcg process-button-prev">
        <button type="button" class="process-button-prev chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-left"></use>
          </svg>
        </button>
      </div>
      <div class="chevron__btn-bcg process-button-next">
        <button type="button" class="process-button-next chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
