<section class="services">
  <div class="container">
    <div class="intro__text">
      <div class="intro__title-box">
        <h1 class="intro__title">why build</h1>
        <div class="intro__svg">
          <h2 class="intro__subtitle">why hydra?</h2>
          <svg width="228" height="100" class="intro__svg-arrow">
            <use href="./images/icons.svg#icon-arrow-big-right"></use>
          </svg>
        </div>
      </div>
      <p class="intro__descr">
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
        mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
        sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
        fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
    <div class="slider__services">
      <div class="swiper slider__services-swiper" data-slider="slider-services">
        <ul class="swiper-wrapper slider__services-wrapper">
          <li class="swiper-slide services__slide">
            <div class="services__slide__img-thumb">
              <img
                srcset="
                  ./images/simulation-192.jpg 1x,
                  ./images/simulation-383.jpg 2x
                "
                src="./images/simulation-192.jpg"
                alt="simulation"
                width="192"
              />
            </div>
            <h2 class="services__slide-title">SIMULATION</h2>
            <p class="services__slide-descr">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
            <button class="btn--gradient services__slide-btn">try it now</button>
          </li>
          <li class="swiper-slide services__slide">
            <div class="services__slide__img-thumb">
              <img
                srcset="
                  ./images/education-192.jpg 1x,
                  ./images/education-383.jpg 2x
                "
                src="./images/education-192.jpg"
                alt="education"
                width="192"
              />
            </div>
            <h2 class="services__slide-title">education</h2>
            <p class="services__slide-descr">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
            <button class="btn--gradient services__slide-btn">try it now</button>
          </li>
          <li class="swiper-slide services__slide">
            <div class="services__slide__img-thumb">
              <img
                srcset="
                  ./images/self-care-192.jpg 1x,
                  ./images/self-care-383.jpg 2x
                "
                src="./images/self-care-192.jpg"
                alt="self-care"
                width="192"
              />
            </div>
            <h2 class="services__slide-title">self-care</h2>
            <p class="services__slide-descr">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
            <button class="btn--gradient services__slide-btn">try it now</button>
          </li>
          <li class="swiper-slide services__slide">
            <div class="services__slide__img-thumb">
              <img
                srcset="
                  ./images/outdoor-192.jpg 1x,
                  ./images/outdoor-383.jpg 2x
                "
                src="./images/outdoor-192.jpg"
                alt="outdoor"
                width="192"
              />
            </div>
            <h2 class="services__slide-title">outdoor</h2>
            <p class="services__slide-descr">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
            <button class="btn--gradient services__slide-btn">try it now</button>
          </li>
        </ul>
      </div>
      <div class="swiper-btns chevron__btns">
        <button type="button" class="swiper-button-prev chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-next chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
