<!-- Slider main container -->
<div class="swiper" height="100">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" width="250">Slide 1</div>
    <div class="swiper-slide" width="250" height="100">Slide 2</div>
    <div class="swiper-slide" width="250" height="100">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<div class="connect">
  <div class="swiper-wrapper">
    <div class="connect-slide"></div>
    <div class="connect-slide"></div>
    <div class="connect-slide"></div>
  </div>
</div>