<section class="slider__connect">
  <div class="container hero__slider">
    <div class="swiper connect" data-slider="slider-connect">
      <ul class="swiper-wrapper connect__slider">
        <li class="swiper-slide connect__slide">
          <a class="connect__link" href="https://goo.gl/maps/aZ6aibqU56v1NMi66" target="_blank"  rel="noopener noreferrer">
            <svg width="70" height="70" class="connect__icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div class="connect__text">
            <h2 class="connect__text-title">Pay Us a Visit</h2>
            <a class="connect__text-inner" href="https://goo.gl/maps/aZ6aibqU56v1NMi66" target="_blank"  rel="noopener noreferrer">Union St, Seattle, WA 98101, United States</a>
          </div>
        </li>
        <li class="swiper-slide connect__slide">
          <a class="connect__link" href="tel:11011111010"  target="_blank"  rel="noopener noreferrer">
            <svg width="59" height="59" class="connect__icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <div class="connect__text">
            <h2 class="connect__text-title">Give Us a Call</h2>
            <a class="connect__text-inner" href="tel:11011111010"  target="_blank"  rel="noopener noreferrer">(110) 1111-1010</a>
          </div>
        </li>
        <li class="swiper-slide connect__slide">
          <a class="connect__link" href="mailto:Contact@HydraVTech.com"  target="_blank"  rel="noopener noreferrer">
            <svg width="65" height="65" class="connect__icon">
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
          </a>
          <div class="connect__text">
            <h2 class="connect__text-title">Send Us a Message</h2>
            <a class="connect__text-inner" href="mailto:Contact@HydraVTech.com"  target="_blank"  rel="noopener noreferrer">Contact@HydraVTech.com</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-btns connect__btns">
      <button type="button" class="swiper-button-prev connect__btn">
        <svg width="30" height="30">
          <use href="./images/icons.svg#icon-chevron-circle-left"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-next connect__btn">
        <svg width="30" height="30">
          <use href="./images/icons.svg#icon-chevron-circle-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>