<section class="technologies" id="technologies">
  <div class="container">
    <div class="technologies__img">
      <img
        srcset="
          ./images/bci-356.jpg   356w,
          ./images/bci-712.jpg   712w,
          ./images/bci-1286.jpg 1286w,
          ./images/bci-2572.jpg 2572w
        "
        sizes="(min-width: 1440px) 1286px, 356px"
        src="./images/bci-356.jpg"
        alt="try our vr"
      />
      <div class="technologies__img-text">
        <h2 class="technologies__img-title">TECHNOLOGIES &#38; HARDWARE</h2>
        <p class="technologies__img-subtitle">USED BY HYDRA VR.</p>
      </div>
      <button class="chevron__btn-down">
        <svg width="60" height="60">
          <use href="./images/icons.svg#icon-chevron-small-down"></use>
        </svg>
      </button>
    </div>
    <div class="technologies__slider">
      <div class="swiper technologies__slider-swiper" data-slider="slider-tech">
        <ul class="swiper-wrapper technologies__slider-wrapper">
          <li class="swiper-slide technologies__slider-slide">
            <img
              srcset="./images/unreal-174.png 1x, ./images/unreal-348.png 2x"
              src="./images/unreal-174.png"
              alt="unreal engine"
              class="technologies__slider-slide--unreal"
            />
          </li>
          <li class="swiper-slide technologies__slider-slide">
            <img
              srcset="./images/unity-252.png 1x, ./images/unity-504.png 2x"
              src="./images/unity-252.png"
              alt="unrity"
            />
          </li>
          <li class="swiper-slide technologies__slider-slide">
            <img
              srcset="./images/oculus-263.png 1x, ./images/oculus-526.png 2x"
              src="./images/oculus-263.png"
              alt="oculus"
            />
          </li>
          <li class="swiper-slide technologies__slider-slide">
            <img
              srcset="./images/vive-282.png 1x, ./images/vive-564.png 2x"
              src="./images/vive-282.png"
              alt="unreal engine"
            />
          </li>
        </ul>
      </div>
      <div class="chevron__btn-bcg tech-button-prev">
        <button type="button" class="tech-button-prev chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-left"></use>
          </svg>
        </button>
      </div>
      <div class="chevron__btn-bcg tech-button-next">
        <button type="button" class="tech-button-next chevron__btn">
          <svg width="38" height="38">
            <use href="./images/icons.svg#icon-chevron-small-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
