.hero__slider {
  position: relative;
}

.connect {
  position: relative;
  width: 347px;
  height: 109px;
  background: radial-gradient(
    circle at center,
    var(--dark-gradient-light-color) 30%,
    var(--dark-gradient-violet) 90%
  );
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 90px;
  
  @include min_768 {
    width: 500px;
  }
  @include min_1440 {
    width: 100%;
    height: 167px;
    display: flex;
    align-items: center;
    background: linear-gradient(89deg, #211e2e 40%, #5c5385 45%, #211e2e 55%);
    background-size: 600% 600%;
    animation: gradient-bcg 10s ease-in-out infinite alternate;
  }
  &__slider {
    @include min_1440 {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 80px;
    }
  }
  &__slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:nth-child(2) {
      @include max_767 {
        gap: 60px;
      }
      @include min_1440 {
        &::before {
          content: '';
          height: 117px;
          width: 1px;
          background-color: var(--light-purple-decorative-for-borders);
          margin-right: 37px;
        }
        &::after {
          content: '';
          height: 117px;
          width: 1px;
          background-color: var(--light-purple-decorative-for-borders);
          margin-left: 50px;
        }
      }
    }
    &:last-child {
      gap: 10px;
    }
    @include min_768 {
      gap: 10px;
    }
    @include min_1440 {
      max-width: 380px;
      width: auto;
      &:not(:first-child) {
        gap: 20px;
      }
    }
  }
  &__icon {
    fill: var(--light-gradiend-and-decorative-purple);
    stroke: var(--light-gradiend-and-decorative-purple);
    transition: all 0.5s cubic-bezier(0.76, 0.49, 0.33, 0.94);
  }
  &__link {
    &:hover,
    &:active,
    &:focus {
      & > .connect__icon {
        fill: var(--main-font-color-white);
        stroke: var(--main-font-color-white);
      }
    }
  }
  &__text {
    &-title {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 3px;
      @include max_767 {
        display: none;
      }
    }
    &-inner {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      @include max_767 {
        max-width: 195px;
      }
      display: block;
    }
  }
  &__btns {
    @include min_1440 {
      display: none;
    }
  }
  &__btn {
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    &.swiper-button-prev {
      left: 20px;
      @include min_768 {
        left: 140px;
      }
    }
    &.swiper-button-next {
      right: 20px;
      @include min_768 {
        right: 140px;
      }
    }
    & > svg {
      stroke: var(--main-font-color-white);
      transition: all 0.5s cubic-bezier(0.76, 0.49, 0.33, 0.94);
      &:hover,
      &:active,
      &:focus {
        stroke: var(--light-purple-decorative-for-borders);
      }
    }
  }
}
