.header {
  padding-top: 26px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: inherit;
  @include min_768 {
    padding-top: 40px;
  }
  @include min_1440 {
    padding-top: 50px;
  }
  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 390px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  &__icon {
    &-logo {
      cursor: pointer;
      fill: url('#paint');
      transform: scale(1.38, 1.19);
      transform: rotate(0deg);
      transition: all 0.5s cubic-bezier(.76,.49,.33,.94);
      filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.25));
      &:hover {
        transform: rotate(45deg);
      }
    }
    &-hydra {
      fill: url('#paint');
      flex-shrink: 0;
    }
  }
  &__btns {
    display: flex;
    gap: 38px;
    @include max_1439 {
      display: none;
    }
  }
  &__btn--gradient {
    width: 155px;
    height: 48px;
  }
}

.nav {
  @include max_767 {
    display: none;
  }
  &__list {
    display: flex;
    gap: 42px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }
  &__item {
    transition: color 0.5s cubic-bezier(.76,.49,.33,.94);
    position: relative;
    &::before {
        transition: width 0.5s cubic-bezier(.76,.49,.33,.94),
        left 0.5s cubic-bezier(.76,.49,.33,.94),
        right 0.5s cubic-bezier(.76,.49,.33,.94);
        content: "";
        position: absolute;
        top: 20px;
        right: 50%;
        height: 4px;
        width: 0;
        border-radius: 2px;
        background-color: var(--light-gradiend-and-decorative-purple);
    }
    &:hover {
        color: var(--light-gradiend-and-decorative-purple);
        &::before {
            width: 100%;
            right: 0;
        }
    }
  }
}

.mobile-menu {
  &__open {
    fill: url('#paint--reverse');
    @include min_768 {
      display: none;
    }
  }
}
