.hero {
  padding-top: 134px;
  padding-bottom: 53px;
  background-image: url('../images/vector-1-mobile.svg'),
    url('../images/vector-2-mobile.svg'),
    url('../images/vector-3-mobile.svg');
  background-repeat: no-repeat;
  background-position: calc(80px + ((100vw - 400px) / 2)) 77px,
  calc(20px + ((100vw - 400px) / 2)) -40px,
  calc(-110px + ((100vw - 400px) / 2)) 286px;
  background-size: 347px 562px, 316px 709px, 617px 352px;
  @include min_768 {
    padding-bottom: 20px;
    padding-top: 190px;
    background-position: right calc(10px + ((100vw - 768px) / 2)) top 77px,
    right calc((20px + (100vw - 768px) / 2)) top 0px,
    right calc(-150px + ((100vw - 768px) / 2)) top 300px;
  }
  @include min_1440 {
    padding-top: 251px;
    padding-bottom: 88px;
    background-image: url('../images/vector-4.svg'), 
    url('../images/vector-1-desktop.svg'),
    url('../images/vector-2-desktop.svg'),
    url('../images/vector-3-desktop.svg');
    background-repeat: no-repeat;
    background-position: calc((100vw - 1272px) / 2) 274px, 
    right calc((100vw - 1272px) / 2) top 170px,
    right calc(70px + (100vw - 1272px) / 2) top 0px,
    right calc((100vw - 1272px - 60px) / 2) top 419px;
    background-size: 239px 561px, 414px 669px, 377px 845px, 735px 419px;
  }
  &--flex {
    @include min_768 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__img {
    border-radius: 100px 100px 100px 240px;
    background-color: var(--transparent-dark-for-bcg);
    width: 340px;
    height: auto;
    @include min_1440 {
      width: 524px;
    }
    & > img {
      transform: scale(0.94);
      border-radius: 100px 100px 100px 240px;
    }
  }
  &__text {
    margin-top: 40px;
    @include min_768 {
      max-width: 350px;
    }
    @include min_1440 {
      max-width: 456px;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: center;
    &--gradient {
      font-size: 32px;
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(
        to right,
        var(--dark-gradiend-putple),
        var(--light-gradiend-and-decorative-purple)
      );
      @include min_768 {
        font-size: 36px;
      }
      @include min_1440 {
        font-size: 46px;
      }
      &--first {
        font-size: 36px;
        background-image: linear-gradient(
          to left,
          var(--dark-gradiend-putple),
          var(--light-gradiend-and-decorative-purple)
        );
        @include min_768 {
          font-size: 40px;
        }
        @include min_1440 {
          font-size: 46px;
        }
      }
    }
    @include min_768 {
      margin-bottom: 30px;
      font-size: 28px;
      text-align: left;
    }
    @include min_1440 {
      font-size: 40px;
      line-height: 1.225;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    @include max_767 {
      display: none;
    }
  }
  &__btns {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    @include min_1440 {
      justify-content: start;
      margin-top: 40px;
    }
  }
  &__btn {
    width: 292px;
    height: 52px;
    @include min_1440 {
      width: 214px;
      height: 48px;
    }
  }
  &__arrow {
    @include max_767 {
      display: none;
    }
    animation-name: arrow;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
