.intro {
  padding-top: 59px;
  @include min_1440 {
    padding-top: 94px;
  }
}

.about {
  @include min_768 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  @include min_1440 {
    align-items: center;
  }
  &__img {
    border-radius: 140px 60px;
    width: 336px;
    height: 358px;
    @include min_1440 {
      width: 524px;
      height: 557px;
    }
    & > img {
      border-radius: 140px 60px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__text {
    @include max_767 {
      margin-top: 51px;
    }
    display: flex;
    flex-direction: column;
    @include max_767 {
      align-items: center;
    }
  }
  &__title-box {
    @include max_767 {
      display: none;
    }
  }
  &__descr {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 34px;
    @include min_768 {
      max-width: 350px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include min_1440 {
      max-width: 630px;
      font-size: 16px;
      margin-top: 42px;
      margin-bottom: 28px;
      letter-spacing: normal;
    }
  }
  &__btn {
    width: 276px;
    height: 56px;
    @include min_1440 {
      width: 214px;
      height: 48px;
    }
  }
}
