.technologies {
  &__img {
    position: relative;
    z-index: 222;
    border-radius: 60px;
    box-shadow: 0px 4px 4px var(--box-shadow);
    height: 163px;
    @include min_1440 {
        height: 303px;
        border-radius: 160px;
    }
    & > img {
      border-radius: 60px;
      height: 100%;
      object-fit: cover;
      @include min_1440 {
        border-radius: 160px;
    }
    }
    &-text {
      position: absolute;
      top: 51px;
      left: 52px;
      @include min_768 {
        left: 164px;
      }
      @include min_1440 {
        top: 108px;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &-title {
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 14px;
      @include min_768 {
        font-size: 26px;
        margin-bottom: 11px;
      }
      @include min_1440 {
        font-size: 36px;
      }
    }
    &-subtitle {
      font-weight: 300;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      @include min_768 {
        font-size: 26px;
      }
      @include min_1440 {
        font-size: 36px;
      }
    }
  }
}

.chevron__btn-down {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
  border: transparent;
  transition: all 0.5s cubic-bezier(0.76, 0.49, 0.33, 0.94);
  transform: translate(-50%);
  @extend %flex-center;
  &:hover, &:focus, &:active {
    background: var(--button-backlayer);
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--button-backlayer);
    z-index: -1;
  } 
  @include max_1439 {
    display: none;
  }
}


.technologies__slider {
  margin-top: 20px;
  position: relative;
  z-index: 22;
  height: 252px;
  width: auto;
  margin-bottom: 40px;
  @include min_1440 {
    margin-top: 54px;
  }
  &-swiper {
    position: relative;
    // z-index: -1;
  }
  &-slide {
    height: 252px;
    @include min_1440 {
      height: auto;
      width: 252px !important;
    }
  }
  &-wrapper {
    @include min_1440 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
